button.menu-btn menu
.menu-test
    button.lng-btn en
    button.auth-btn auth
    button.btn-bet-online play
.eurofan#eurofanPage
    .banner
        .banner__wrapp
            .container
                h1.banner__top(data-translate="bannerTitleTop") Єврофан
                .banner__center(data-translate="bannerTitleCenter") 200 000  ₴
                .banner__bottom(data-translate="bannerTitleBottom") + Бонус у вигляді #[br]«Страховка ставки»*
                a.banner__btn.btn.unauth-msg(data-translate="signBtn" href="/login/" data-promo="eurofan_130226" data-button="authorization_banner") Взяти участь
                button.banner__btn.btn.part-btn.hide(data-translate="partBtn" data-promo="eurofan_130226" data-button="takePart_banner") Взяти участь
                a.banner__btn.btn.play-btn.hide(data-translate="playBtn" href="/sports/sport/soccer/" data-promo="eurofan_130226" data-button="placeBet_banner") Робити ставки
        .decor
            .decor__wrap
                .decor__star.star1
                    img(src="img/star-glow.png" alt="star")
                .decor__star.star2
                    img(src="img/star-glow.png" alt="star")
                .decor__star.star3
                    img(src="img/star-glow.png" alt="star")
    .info
        .info__wrapp
            .info__title(data-translate="infoTitle") БІЛЬШЕ БАЛІВ – БІЛЬШЕ ШАНСІВ ЗАБРАТИ ПРИЗ!
            .info__txt(data-translate="infoText") З 13 лютого до 26 лютого кожна виграшна ставка від 300 ₴ на будь-які футбольні події дає тобі шанс зайняти місце серед переможців загального призового фонду в 200 000 ₴ та бонусних пропозицій у вигляді «Страховки ставки».
            a.info__btn.btn.unauth-msg(data-translate="signBtn" href="/login/" data-promo="eurofan_130226" data-button="authorization_content") Взяти участь
            button.info__btn.btn.part-btn.hide(data-translate="partBtn" data-promo="eurofan_130226" data-button="takePart_content") Взяти участь
            a.info__btn.btn.play-btn.hide(data-translate="playBtn" href="/sports/sport/soccer/" data-promo="eurofan_130226" data-button="placeBet_content") Робити ставки
    //.instruction
    //    h2.h2.instruction__title(data-translate="instructionTitle") Як взяти участь?
    .drop
        details.dropdown
            summary(data-translate="detailsSummary") Деталі
            .drop-txt
                .drop-txt-list(data-translate="detailsText")
                    p Bla bla bla
                    p Bla bla bla
                    p Bla bla bla
                    p Bla bla bla
                    p Bla bla bla
                    p Bla bla bl
                    p Bla bla bla
                    p Bla bla bla
                    p Bla bla bla
                    p Bla bla bl
                    p Bla bla bla
                    p Bla bla bla
                    p Bla bla bla
    h2.h2.eurofan__results(data-translate="resultsTitle") Результати
    .table
        .table__tabs
            .table__tabs-item.active(data-week="1")
                .table__tabs-name(data-translate="tableTab1") Етап 1
                .table__tabs-date(data-translate="tableDate1") 13.02 -19.02
            .table__tabs-item(data-week="2")
                .table__tabs-name(data-translate="tableTab2") Етап 2
                .table__tabs-date(data-translate="tableDate2") 20.02 -26.02
        .table__head
            .table__row
                .table__row-item(data-translate="tablePlace") Місце
                .table__row-item(data-translate="tablePlayerId") ID гравця
                .table__row-item(data-translate="tablePoints") Кількість балів
                .table__row-item(data-translate="tablePrize") Приз
        .table__body#table
            .table__row.place1
                .table__row-item 1
                .table__row-item 4538***
                .table__row-item 28
                .table__row-item 25 000 ₴
            .table__row.place2
                .table__row-item 2
                .table__row-item 4538***
                .table__row-item 28
                .table__row-item 25 000 ₴
            .table__row.place3
                .table__row-item 3
                .table__row-item 4538***
                .table__row-item 28
                .table__row-item 25 000 ₴
            .table__row
                .table__row-item 4
                .table__row-item 4538***
                .table__row-item 28
                .table__row-item CC до 250
            .table__row
                .table__row-item 5
                .table__row-item 4538***
                .table__row-item 2800
                .table__row-item CC до 350
            .table__row
                .table__row-item 6
                .table__row-item 4538***
                .table__row-item 28
                .table__row-item -
            .table__row
                .table__row-item 7
                .table__row-item 4538***
                .table__row-item 28
                .table__row-item -
            .table__row
                .table__row-item 8
                .table__row-item 4538***
                .table__row-item 28
                .table__row-item -
            .table__row
                .table__row-item 9
                .table__row-item 4538***
                .table__row-item 28
                .table__row-item -
            .table__row
                .table__row-item 10
                .table__row-item 4538***
                .table__row-item 28
                .table__row-item -
        .table__body#tableOther
            .table__row
                .table__row-item 12
                .table__row-item 4538***
                .table__row-item 20
                .table__row-item BI up to 250
            .table__row.you
                .table__row-item 13
                    span.you(data-translate="you") ти
                .table__row-item 4538***
                .table__row-item 2 500 ₴
                .table__row-item «СС» до 500 ₴
            .table__row
                .table__row-item 14
                .table__row-item 4538***
                .table__row-item 20
                .table__row-item -
    a.bottomBtn.btn.unauth-msg(data-translate="signBtn" href="/login/" data-promo="eurofan_130226" data-button="authorization_bottom") Взяти участь
    button.bottomBtn.btn.part-btn.hide(data-translate="partBtn" data-promo="eurofan_130226" data-button="takePart_bottom") Взяти участь
    a.bottomBtn.btn.play-btn.hide(data-translate="playBtn" href="/sports/sport/soccer/" data-promo="eurofan_130226" data-button="placeBet_bottom") Взяти участь
    .note
        p.note__top(data-translate="noteTop") *Загальний призовий фонд акції «Єврофан» складається з 200 000 (двохсот тисяч) Бонусів у вигляді електронних грошових замінників та призів у вигляді бонусної пропозиції «Страховки ставки» на загальну суму в 46 000 (сорок шість тисяч) Бонусів у вигляді  електронних грошових замінників, вид та розмір якої визначається виключно на розсуд Організатора та доступної в межах діючої Програми лояльності. Період дії акції – з 13.02.2026 до 26.02.2026 року.
        p.note__bottom(data-translate="noteBottom") *під «СС» розуміється бонус у вигляді «Страховка ставки»
    .drop
        details.dropdown.summary-rules.rules
            summary(data-translate="rulesDetails").rules Правила та умови
            .drop-txt
                .drop-txt-list
                    p(data-translate="rulesDetailsList")
                        p Bla bla bla
                        p Bla bla bla
                        p Bla bla bla
